<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>eecs_4413_project</display-name>


	<servlet>
		<servlet-name>AdminDashboard</servlet-name>
		<jsp-file>/jsp/adminDashboard.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDashboard</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>filter.AuthenticationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/OrderController</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>StockAvailabilityFilter</filter-name>
		<filter-class>filter.StockAvailabilityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StockAvailabilityFilter</filter-name>
		<url-pattern>/OrderController</url-pattern>
	</filter-mapping>


	<!-- Session configuration -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>


</web-app>